<!DOCTYPE html>
<html>
<head>
    <title>Candidate Login</title>
</head>
<body>
    <h1>Candidate Login</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="name">Candidate Name:</label>
        <input type="text" name="name" id="name" required><br>
        <label for="election_id">Election ID:</label>
        <input type="text" name="election_id" id="election_id" required><br>
        <label for="password">password:</label>
        <input type="password" name="password" id="password" required><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>